# Inserisci qui le tue API key gratuite se desideri mappe con caratteri 100% occidentali in tutto il mondo
# Ottieni una chiave gratuita in 30 secondi su:
# - MapTiler: https://cloud.maptiler.com/ (Consigliato: mappa 100% occidentale con tutti i POI)
# - Carto: https://carto.com/
# - Stadia Maps: https://stadiamaps.com/

VITE_MAPTILER_API_KEY=
VITE_CARTO_API_KEY=
VITE_STADIA_API_KEY=
